<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-scripts lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-scripts lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-scripts lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= data.page.title + ' - ' + (data.page.keywords || 'Arbeitssicherheit, Notfallmanagement, Arbeitssicherheit Schweiz, Evakuierungskonzept') + ' - MPS' %></title>
  <meta name="description" content="<%= data.page.description %>">
  <meta name="keywords" content="<%= (data.page.keywords || 'Arbeitssicherheit, Notfallmanagement, Arbeitssicherheit Schweiz, Evakuierungskonzept') %>">
  <meta name="abstract" content="<%= data.page.sitemap %>">
  <meta name="author" content="MPS Müller Projects u. Services GmbH 8049 Zürich">
  <meta name="page-topic" content="<%= data.page.keywords %>">
  <meta name="dc.title" content="<%= data.page.title + ' - MPS' %>">
  <meta name="dc.description" content="<%= (data.page.sitemap || data.page.description) %>">
  <meta name="robots" content="index, follow">
  <meta name="gloreftag" content="itJt7UcYMpzD+2wZQUQVoA==" />

  <meta name="viewport" content="width=device-width">

  <%= favicon_tag 'icons/favicon.ico' %>

  <link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon-57x57-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/apple-touch-icon-72x72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/apple-touch-icon-114x114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144x144-precomposed.png"/>

  <%= stylesheet_link_tag 'normalize' %>
  <%= stylesheet_link_tag 'boilerplate' %>
  <%= stylesheet_link_tag 'mps' %>
  <%= stylesheet_link_tag 'print', media: :print %>

  <script type="text/javascript" src="//use.typekit.net/tod0ava.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- GLOBONET Tracking Code -->
  <script type="text/javascript">
  var _paq = _paq || [];
  (function(){
	      var u=(("https:" == document.location.protocol) ? "https://tracking.globonet.ch/" : "http://tracking.globonet.ch/");
	      _paq.push(['setSiteId', '570']);
	      _paq.push(['setTrackerUrl', u+'piwik.php']);
	      _paq.push(['setVisitorCookieTimeout', '604800']);
	      _paq.push(['setSessionCookieTimeout', '0']);
	      _paq.push(['trackPageView']);
	      _paq.push(['enableLinkTracking']);
	      var d=document,
	      g=d.createElement('script'),
	      s=d.getElementsByTagName('script')[0];
	      g.type='text/javascript';
	      g.defer=true;
	      g.async=true;
	      g.src=u+'piwik.js';
	      s.parentNode.insertBefore(g,s);
	  })();
  </script>
  <!-- End GLOBONET Tracking Code -->
</head>
<body>

<div class="row">
  <div class="large-12 columns">

    <% link_to '/' do %>
        <%= image_tag('mps.jpg', class: 'logo', alt: 'MPS Müller Projects & Services GmbH') %>
    <% end %>

    <!-- Navigation -->

    <nav class="top-bar hide-on-print">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
            <% link_to '/' do %>
                MPS Müller Projects &amp; Services GmbH
            <% end %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to 'Notfallmanagement', '/notfallmanagement.html' %></li>
          <li><%= link_to 'Arbeitssicherheit', '/arbeitssicherheit.html' %></li>
          <li><%= link_to 'Brandschutz', '/brandschutz.html' %></li>
          <li><%= link_to 'Schulungen', '/schulungen.html' %></li>
          <li><%= link_to 'Kurse', '/kurse.html' %></li>
          <li><%= link_to 'Über uns', '/ueber-uns.html' %></li>
        </ul>
      </section>
    </nav>

    <!-- End Navigation -->

  </div>
</div>

<%= yield %>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-4 columns">
        <p>&copy; MPS Müller Projects &amp; Services GmbH</p>
      </div>
      <div class="large-8 columns hide-on-print">
        <ul class="inline-list right">
          <li><%= link_to 'Referenzen', '/referenzen.html' %></li>
          <li><%= link_to 'Partner', '/partner.html' %></li>
          <li><%= link_to 'Downloads', '/downloads.html' %></li>
          <li><%= link_to 'Impressum', '/impressum.html' %></li>
          <li><%= link_to 'Sitemap', '/sitemap.html' %></li>
          <li><%= link_to 'Kontakt', '/kontakt.html' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<%= yield_content :footer %>

<%= javascript_include_tag 'plugins' %>
<%= javascript_include_tag 'main' %>

<script>
    var _gaq = [
        ['_setAccount', 'UA-6617586-1'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>
