---
layout: 'default'
title: 'Downloads'
---

<h1>Downloads</h1>

<h2>MPS Präsentationen</h2>

<table>
  <thead>
  <tr>
    <td>Titel</td>
    <td>Beschreibung</td>
    <td>Download</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>MPS Firmenpräsentation</td>
    <td>Alle Wichtigen Informationen rund um MPS.</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Firma.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>MPS Kurs-Flyer</td>
    <td>MPS Kurse auf einen Blick.</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Kurse.pdf', class: 'pdf' %>
    </td>
  </tr>
  </tbody>
</table>

<h2>MPS Fachartikel</h2>

<table class="downloads">
  <thead>
  <tr>
    <td>Titel</td>
    <td>Publikation</td>
    <td>Datum</td>
    <td>Download</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Evakuationsübung - aber wie?</td>
    <td>Safety-Plus,&nbsp;2</td>
    <td>05/2012</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Evakuationsuebung-aber-wie.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Auf der Autobahn</td>
    <td>Safety-Plus,&nbsp;2</td>
    <td>05/2012</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Sicherheit-Autobahn.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Sauber Formel 1, Sicherheits kennt keine Grenzen</td>
    <td>Safety-Plus,&nbsp;4</td>
    <td>11/2010</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Sauber-Formel-1.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Arbeitssicherheit vs. Brandschutz vs. Security</td>
    <td>Safety-Plus,&nbsp;4</td>
    <td>11/2009</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Security-vs-Safety.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Den Gefahren trotzen</td>
    <td>Züri Tipp,&nbsp;12</td>
    <td>02/2009</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Den-Gefahren-trotzen.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Für das Leben lernen wir</td>
    <td>Safety-Plus,&nbsp;3</td>
    <td>08/2007</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Fuer-das-Leben-lernen-wir.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Arbeitssicherheit und Gesundheitsschutz</td>
    <td>SMM</td>
    <td>08/2007</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Arbeitssicherheit-und-Gesundheitsschutz.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Schulungen Arbeitssicherheit und Brandschutz zahlen sich aus</td>
    <td>KMU-Manager,&nbsp;5</td>
    <td>05/2007</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Schulungen-Arbeitssicherheit-und-Brandschutz-zahlen-sich-aus.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Arbeitssicherheit mit System</td>
    <td>SMM,&nbsp;13</td>
    <td>08/2006</td>
    <td>
      <%= link_to 'PDF', '/downloads/fachartikel/MPS-Arbeitssicherheit-mit-System.pdf', class: 'pdf' %>
    </td>
  </tr>
  </tbody>
</table
>
<h2>Diverses</h2>

<table>
  <thead>
  <tr>
    <td>Titel</td>
    <td>Beschreibung</td>
    <td>Download</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Sicherheit und Gesundheitsschutz: Wo stehen wir?</td>
    <td>
      Selbsttest für KMU betreffend Arbeitssicherheit: Was hat Ihr Betrieb für einen Stand betreffend der
      Arbeitssicherheit?
    </td>
    <td>
      <%= link_to 'PDF', '/downloads/6508-d-2007.pdf', class: 'pdf' %>
    </td>
  </tr>
  <tr>
    <td>Beizugsrichtlinie EKAS 6508</td>
    <td>
      Neu revidierte Richtlinie über den Beizug von Arbeitsärzten und anderen Spezialisten der Arbeitssicherheit
      (ASA-Richtlinie) per Feb. 2007
    </td>
    <td>
      <%= link_to 'PDF', '/downloads/6508-d-2007.pdf', class: 'pdf' %>
    </td>
  </tr>
  </tbody>
</table>
