---
layout: 'default'
title: 'Downloads'
description: 'Wichtige und informative Dokumente stellen wir Ihnen gerne in diesem Bereich zu Ihrer Verfügung, damit Sie und Ihre Mitarbeitenden immer auf dem neuesten Stand sind.'
---

<h1>Downloads</h1>

<h2>MPS Präsentationen</h2>

<table>
  <thead>
  <tr>
    <td width="45%">Titel</td>
    <td width="45%">Beschreibung</td>
    <td width="10%">Download</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>MPS Firmenpräsentation</td>
    <td>Alle Wichtigen Informationen rund um MPS.</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Firma.pdf', target: '_blank' %>
    </td>
  </tr>
  <tr>
    <td>MPS Kurs-Flyer</td>
    <td>MPS Kurse auf einen Blick.</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Kurse.pdf', target: '_blank' %>
    </td>
  </tr>
  <tr>
    <td>MPS Medienmitteilung</td>
    <td>Zehn Jahre MPS 2002‐2012</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Medienmitteilung-2002-2012.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/medienmitteilung-2002-2012.html' %>
    </td>
  </tr>
  </tbody>
</table>

<h2>MPS Fachartikel</h2>

<table class="downloads">
  <thead>
  <tr>
    <td width="45%">Titel</td>
    <td width="22%">Publikation</td>
    <td width="22%">Datum</td>
    <td width="10%">Download</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Evakuationsübung - aber wie?</td>
    <td>Safety-Plus,&nbsp;2</td>
    <td>05/2012</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Evakuationsuebung-aber-wie.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/evakuationsuebung-aber-wie.html' %>
    </td>
  </tr>
  <tr>
    <td>Auf der Autobahn</td>
    <td>Safety-Plus,&nbsp;2</td>
    <td>05/2012</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Sicherheit-Autobahn.pdf', target: '_blank' %>
    </td>
  </tr>
  <tr>
    <td>Sauber Formel 1, Sicherheits kennt keine Grenzen</td>
    <td>Safety-Plus,&nbsp;4</td>
    <td>11/2010</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Sauber-Formel-1.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/sauber-formel-1.html' %>
    </td>
  </tr>
  <tr>
    <td>Arbeitssicherheit vs. Brandschutz vs. Security</td>
    <td>Safety-Plus,&nbsp;4</td>
    <td>11/2009</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Arbeitssicherheit-vs-Brandschutz-vs-Security.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/arbeitssicherheit-vs-brandschutz-vs-security.html' %>
    </td>
  </tr>
  <tr>
    <td>Den Gefahren trotzen</td>
    <td>Züri Tipp,&nbsp;12</td>
    <td>02/2009</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Den-Gefahren-trotzen.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/den-gefahren-trotzen.html' %>
    </td>
  </tr>
  <tr>
    <td>Für das Leben lernen wir</td>
    <td>Safety-Plus,&nbsp;3</td>
    <td>08/2007</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Fuer-das-Leben-lernen-wir.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/fuer-das-Leben-lernen-wir.html' %>
    </td>
  </tr>
  <tr>
    <td>Arbeitssicherheit und Gesundheitsschutz</td>
    <td>SMM</td>
    <td>08/2007</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Arbeitssicherheit-und-Gesundheitsschutz.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/arbeitssicherheit-und-gesundheitsschutz.html' %>
    </td>
  </tr>
  <tr>
    <td>Schulungen Arbeitssicherheit und Brandschutz zahlen sich aus</td>
    <td>KMU-Manager,&nbsp;5</td>
    <td>05/2007</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Schulungen-Arbeitssicherheit-und-Brandschutz-zahlen-sich-aus.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/schulungen-arbeitssicherheit-und-brandschutz-zahlen-sich-aus.html' %>
    </td>
  </tr>
  <tr>
    <td>Arbeitssicherheit mit System</td>
    <td>SMM,&nbsp;13</td>
    <td>08/2006</td>
    <td>
      <%= link_to 'PDF', '/downloads/MPS-Arbeitssicherheit-mit-System.pdf', target: '_blank' %>
      ,
      <%= link_to 'HTML', '/artikel/arbeitssicherheit-mit-system.html' %>
    </td>
  </tr>
  </tbody>
</table
>
<h2>Diverses</h2>

<table>
  <thead>
  <tr>
    <td width="45%">Titel</td>
    <td width="45%">Beschreibung</td>
    <td width="10%">Download</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Sicherheit und Gesundheitsschutz: Wo stehen wir?</td>
    <td>
      Selbsttest für KMU betreffend Arbeitssicherheit: Was hat Ihr Betrieb für einen Stand betreffend der
      Arbeitssicherheit?
    </td>
    <td>
      <%= link_to 'PDF', '/downloads/6508-d-2007.pdf', target: '_blank' %>
    </td>
  </tr>
  <tr>
    <td>Beizugsrichtlinie EKAS 6508</td>
    <td>
      Neu revidierte Richtlinie über den Beizug von Arbeitsärzten und anderen Spezialisten der Arbeitssicherheit
      (ASA-Richtlinie) per Feb. 2007
    </td>
    <td>
      <%= link_to 'PDF', '/downloads/6508-d-2007.pdf', target: '_blank' %>
    </td>
  </tr>
  </tbody>
</table>
