---
layout: 'default'
title: 'Notfallmanagement'
description: 'Arbeitssicherheit, Brandschutz & Schulungen vernetzt mit Ihrem Notfallmanagement!'
---

<h1>Notfallmanagement</h1>
<p>
  Die Aufgabe des Notfallmanagements ist es, Ihre Firma so zu organisieren, dass bei eintretenden Ereignissen eine
  Schadenreduktion betrieben werden kann oder im besten Falle diese im Keim erstickt werden können. In einem
  Ereignisfall bleibt keine Zeit mehr um sich Gedanken um ein weiteres Vorgehen zu machen, dann muss gehandelt werden.
  Dies ist aber nur möglich, wenn die eintretenden Szenarien geplant und professionell organisiert wurden
  (Notfallplanung, Notfallorganisation), sowie eine entsprechende Alarmorganisation sichergestellt wurde.
</p>
<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('symbole/notfallmanagement.png', alt: 'Notfallmanagement') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Was läuft bei Ihnen bei einem Notfall ab?</li>
      <li>Sind die Fluchtwege und die Evakuationsorganisation sichergestellt?</li>
      <li>Wissen die Mitarbeitenden, was die wichtigsten Abläufe bei einem Unfall sind?</li>
      <li>Ist Ihr Unternehmen auf wichtige Ereignisse vorbereitet?</li>
    </ul>
  </div>
</div>
<p>
  Wir unterscheiden die verschiedenen Eskalationsstufen: Notfallmanagement, Krisenmanagement, Business continuity
  Management.
</p>
<p>
  Gerne unterstützen wir Sie, damit Sie für den Fall der Fälle vorbereitet sind.
</p>

<h2>Evakuationskonzept</h2>

<p>
  <a href="#" data-reveal-id="modalImage2"><%= image_tag('phasen/evakuation-vorgehen.jpg', alt: 'Vorgehen Evakuation') %></a>
</p>

<h2>Ihre Vorteile</h2>

<ul>
  <li>Die Evakaution ist geplant und geschult.</li>
  <li>Sie kennen Ihre nötigen Sofortmassnahmen und können diese mit Ihrer Alarmorganisation gezielt umsetzen.</li>
  <li>Die Ereignisbewältigung haben Sie im Griff und schützen somit Ihre Mitarbeitenden.</li>
  <li>Sie beeinflussen Ihre Kostenentwicklung positiv.</li>
  <li>Eine optimale Zusammenarbeit mit den Interventionskräften wie Feuerwehr, Sanität  und Polizei stellen Sie sicher.</li>
  <li>Die gesetzlichen Auflagen werden erfüllt und Ihre Haftung minimiert.</li>
</ul>

<h2>Bestandteile der Notfallorganisation</h2>
<ul>
  <li>Notfallmanagement</li>
  <li>Notfallplanung</li>
  <li>Notfallorganisation</li>
  <li>Notfallstab (Führungsbehelf, Equipment)</li>
  <li>Alarmorganisation</li>
  <li>Evakuationen, Evakuationsplanung</li>
  <li>Flucht- und Rettungspläne</li>
  <li>Feuerwehreinsatzpläne</li>
  <li>Notfallkarten</li>
  <li>Notfallausrüstung</li>
  <li>Erste Hilfe Ausbildung</li>
  <li>Löscheinrichtungen und Ausbildung</li>
</ul>

<p>
  <a href="#" data-reveal-id="modalImage1"><%= image_tag('fluchtplan.jpg', alt: 'Beispiel Fluchtplan') %></a>
</p>

<p>
  Kennen Sie die <%= link_to 'gesetzlichen Auflagen', '/gesetzliche-auflagen.html' %>?
</p>

<% content_for :footer do %>
    <div id="modalImage1" class="reveal-modal large">
      <h2>Fluchtplan</h2>
      <a class="close-reveal-modal">&#215;</a>
      <%= image_tag('fluchtplan.jpg', alt: 'Beispiel Fluchtplan') %>
    </div>

    <div id="modalImage2" class="reveal-modal large">
      <h2>Evakuationskonzept</h2>
      <a class="close-reveal-modal">&#215;</a>
      <%= image_tag('phasen/evakuation-vorgehen.jpg', alt: 'Vorgehen Evakuation') %>
    </div>
<% end %>
