---
layout: 'default'
title: 'Partner'
keywords: 'Netzwerk'
description: 'In dieser Kategorie erfahren Sie mehr zu unseren Partnern.'
partners:
  -
    name: "RescuePublication"
    logo: "rescuepublication.jpg"
    description: "Für Beruf und Freizeit"
    link: "www.feuerwehrshop.ch"
  -
    name: "Warnwestenshop"
    logo: "warnwestenshop.jpg"
    description: "Professionelles Evakuationsmaterial und Warnwesten"
    link: "www.warnwestenshop.ch"
  -
    name: "Projobshop"
    logo: "projobshop.jpg"
    description: "Für Beruf und Freizeit"
    link: "www.projobshop.ch"
  -
    name: "Audio Protect"
    logo: "audio-protect.jpg"
    description: "Ihr Specialist für Gehörschutz und Kommunikation mit Lärm."
    link: "www.audioprotect.ch"
  -
    name: "CSF Wunderle"
    logo: "csf-wunderle.jpg"
    description: "Ihr kompetenter Partner bei der Planung und Ausführung von Beschilderungen in Gebäuden und Anlagen."
    link: "www.csfwunderle.ch"
  -
    name: "Security and Safety"
    logo: "security-safety.jpg"
    description: "Sicherheitsdienstleistungen: Ordnungsdienste, Bewachung, Objektschutz, Personenschutz, etc."
    link: "www.securityandsafety.ch"
  -
    name: "Weixelbaumer und Partner"
    logo: "weixelbaumer-partner.png"
    description: "Unternehmensentwicklung, Coaching, Change und Projekt Management."
    link: "www.weixelbaumer-partner.ch"
  -
    name: "SBS Trainings & Rettungs"
    logo: "sbs-training-rettung.jpg"
    description: "Schule für Betriebssanitäter & Spezialkurse Schweiz"
    link: "www.sbs-rettungsschule.ch"
---

<h1>Partner</h1>

<div class="section-container accordion" data-section="accordion" data-options="one_up: false;">

  <% current_page.data.partners.each do |partner| %>

      <section>
        <p class="title" data-section-title><a href='#<%= partner.name.downcase.gsub(' ', '-').gsub(/[^a-z-]/, '').gsub('--', '-') %>'><%= partner.name %></a></p>
        <div class="content" data-section-content>
          <div class="row">
            <div class="large-3 small-3 columns">
              <%= image_tag("partner/#{ partner.logo }", alt: partner.name) %>
            </div>
            <div class="large-9 small-9 columns">
              <p>
                <%= partner.description %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="large-12 small-12 columns">
              <p>
                <%= link_to partner.link, "http://#{ partner.link }", target: '_blank' %>
              </p>
            </div>
          </div>
        </div>
      </section>

  <% end %>
</div>
