---
layout: 'default'
title: 'Referenzen'
description: 'Unsere Referenzen sollen Ihnen zeigen, mit welchen Unternehmen Unsere Referenzen sollen Ihnen zeigen, mit welchen Unternehmen MPS Müller Projects & Services GmbH bereits erfolgreich für die Gewährleistung der Aspekte Notallmanagements, Arbeitssicherheit, Brandschutz und Schulung zusammen arbeiten.'
references:
  -
    name: "Suva"
    logo: "suva.gif"
    description: "Die Suva ist ein selbständiges Unternehmen des öffentlichen Rechts und versichert rund 115 000 Unternehmen bzw. 2 Millionen Berufstätige und Arbeitslose gegen die Folgen von Unfällen und Berufskrankheiten."
    contact: "Herr R. Hauser, Rösslimattstrasse 39, CH-6002 Luzern, Tel.: 041 419 51 86"
    link: "www.suva.ch"
  -
    name: "Kuhn Rikon"
    logo: "kuhnrikon.jpg"
    description: "Kuhn Rikon entwickelt, produziert und vertreibt qualitativ hochwertiges Kochgeschirr und Zubehör, welches gesundes und effizientes Kochen ermöglicht. "
    contact: "Herr D. Obrist, Neschwilerstrasse 4, CH-8486 Rikon, Tel.: 052 396 02 41"
    link: "www.kuhnrikon.ch"
  -
    name: "Evonik"
    logo: "evonik.jpg"
    description: "Evonik ist eines der weltweit führenden Unternehmen der Spezialchemie."
    contact: "Herr A. Holenstein, Zollstrasse 62, CH-8005 Zürich, Tel.: 044 274 31 22"
    link: "www.evonik.com"
  -
    name: "Diversey"
    logo: "diversey.jpg"
    description: "Unser Ziel ist es, weltweit der zuverlässigste Anbieter von Produkten und Systemen für Reinigung und Hygiene zu sein"
    contact: "Frau K. Margos, Eschikonerstrasse 20, CH-9542 Münchwilen, Tel.: 071 969 22 28"
    link: "www.diversey.com"
  -
    name: "Direktion der Justiz und des Innern"
    logo: "mzu.png"
    description: "Kanton Zürich, Direktion der Justiz und des Innern, Amt für Justizvollzug, Massnahmenzentrum Uitikon"
    contact: "Züricherstrasse 100, CH-8142 Uitikon-Waldegg"
    link: "www.ji.zh.ch"
  -
    name: "Levitronix"
    logo: "levitronix.jpg"
    description: "Saving lives - Saving chips."
    contact: "Herr G. Foiera, Technoparkstrasse 1, CH-8005 Zürich, Tel.: 044 445 19 14"
    link: "www.levitronix.com"
  -
    name: "Schneider"
    logo: "schneider.jpg"
    description: "Herr St. Meier, Neue Dorfstrasse 27, Postfach, CH-8135 Langnau a.A., Tel.: 043 377 78 58"
    link: "www.wschneider.com"
  -
    name: "Belimo"
    logo: "belimo.jpg"
    description: "Belimo. Sicherheit und Komfort. "
    contact: "Herr W. Hauser, Brunnanbachstrasse 1, CH-8340 Hinwil, Tel.: 043 843 62 03"
    link: "www.belimo.ch"
  -
    name: "suissetec"
    logo: "suissetec.jpg"
    description: "suissetec ist der führende Gebäudetechnikverband für die Schweiz und Liechtenstein"
    contact: "Herr A. Gartmann, Auf der Mauer 11, CH-8021 Zürich, Tel.: 043 244 73 48"
    link: "www.suissetec.ch"
  -
    name: "Buechi"
    logo: "buechi.jpg"
    description: "BUCHI Laboratory Equipment"
    contact: "Herr E. Koller, Meierseggstr. 40, CH-9230 Flawil 1, Tel.: 071 394 65 18"
    link: "www.buchi.com"
  -
    name: "Bauknecht"
    logo: "bauknecht.jpg"
    description: "Bauknecht - Ihr Partner für Küche und Waschraum"
    contact: "Herr M. Delabays, Industriestrasse 36, CH-5600 Lenzburg, Tel.: +41 62 888 33 07"
    link: "www.baucknecht.ch"
  -
    name: "Maag Pump Systems"
    logo: "maag.gif"
    description: "Maag Pump Systems AG, the world leader for proven processing solutions for the polymer and chemical industries."
    contact: "Herr D. Steiner, Aspstrasse 12, CH-8154 Oberglatt, Tel.: +41 44 278 83 10"
    link: "www.maag.com"
  -
    name: "FoamPartner"
    logo: "foampartner.gif"
    description: "Foam Partner Fritz Nauer AG, Markenzeichen für qualitativ hochwertige Spezialschaumstoffe. "
    contact: "Herr Th. Wirz, Oberwolfhauserstrasse 9, CH-8633 Wolfhausen, Tel.: +41 55 253 63 42"
    link: "www.foampartner.ch"
  -
    name: "Cafina"
    logo: "cafina.gif"
    description: "Cafina AG, der Kaffeespezialist für die Gastronomie und die Betriebsverpflegung."
    contact: "Herr R. Burri, Römerstrasse 2, CH-5502 Hunzenschwil, Tel.: +41 62 889 42 42"
    link: "www.cafina.ch"
  -
    name: "Musik Hug"
    logo: "musikhug.gif"
    description: ""
    contact: "Herr Th. Zaugg, Schützenmattstrasse 1, CH-8180 Bülach, Tel.: +41 44 864 41 55"
    link: "www.musikhug.ch"
  -
    name: "Deloitte"
    logo: "deloitte.jpg"
    description: ""
    contact: "Herr U. Dolder, General Guisan-Quai 38, CH-8022 Zurich, Tel.: +41 44 421 65 01"
    link: "www.deloitte.ch"
  -
    name: "Franz Pfister"
    logo: "franzpfister.gif"
    description: "Franz Pfister AG, Kanal- und Tunnelreinigung"
    contact: "Herr R. Porta, Rickenstrasse 18-20, CH-8050 Zürich, Tel.: +41 44 308 80 40"
    link: "www.franzpfister.ch "
  -
    name: "Schindler Aufzüge"
    logo: "schindler.jpg"
    description: ""
    contact: "Herr F. Bisang, Zugerstrasse 13, CH-6030 Ebikon, Tel.: +41 41 445 33 33"
    link: "www.schindler.ch"
  -
    name: "Swissmem"
    logo: "swissmem.jpg"
    description: "Swissmem Kaderschule"
    contact: "Herr M. Zäch, Brühlbergstrasse 4, CH-8400 Winterthur, Tel.: +41 52 260 54 54"
    link: "www.swissmem-kaderschule.ch"
  -
    name: "sfb Bildungszentrum"
    logo: "sfb.gif"
    description: "Bildungszentrum für Technologie und Management, höhere Fachschule"
    contact: "Herr M. Diez, Bernstrasse 394, CH-8953 Dietikon, Tel.: 0848 80 00 84"
    link: "www.sfb.ch"
---

<h1>Referenzen</h1>

<p>Eine Auswahl unserer Referenzen:</p>

<div class="section-container accordion" data-section="accordion">

  <% current_page.data.references.each do |reference| %>

      <section>
        <p class="title" data-section-title><a href='#<%= reference.name.downcase.gsub(' ', '-').gsub(/[^a-z-]/, '').gsub('--', '-') %>'><%= reference.name %></a></p>
        <div class="content" data-section-content>
          <div class="row">
            <div class="large-3 small-3 columns">
              <%= image_tag "referenzen/#{ reference.logo }" %>
            </div>
            <div class="large-9 small-9 columns">
              <p>
                <%= reference.description %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="large-12 small-12 columns">
              <address>
                <%= reference.contact %>
              </address>
              <p>
                <%= link_to reference.link, "http://#{ reference.link }", target: '_blank' %>
              </p>
            </div>
          </div>
        </div>
      </section>

  <% end %>
</div>
